//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.section-header {
    position: fixed;
    z-index: 999;

    width: 100%;

    background-color: transparent;

    transition: 0.3s;

    &.sticky {
        background-color: $white;

        transition: all 0.4s ease-in-out;
    }
    
    .show-tablet-buttons {
        display: none;
    }

    .navbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 !important;
    }

    .navbar-brand {
        padding-bottom: 17px;
        padding-left: 2px;
    }

    .navbar-nav {
        padding: 43px 33px 37px;
        margin-left: 23%;
    }
    
    .nav-link {
        padding-left: 26px;
        
        font-family: $font-opensans-semibold;
        font-size: 14px;
        color: $black;
    }

    .nav-item {
        margin-left: 30px;
    }

    .btn-telephone-number {
        margin: 37px 0 30px;
        width: 13.6%;

        background-color: $orange;
        border: none;
        border-radius: 28px;
        border: 2px solid transparent;  

        outline: 0;
        
        &:hover {
            color: $text-color;
            list-style: none;
            outline: none;
           
            background-color: $light-orange;
            
            border: 2px solid $orange;  

            transition: 0.3s ease-in-out;
        }
    }

    .telephone-icon {
        width: 11%;
    }

    #telephone-number {
        display: inline-block;
        padding: 11px 0 10px;

        font-size: 15px;
        color: $white;
        text-decoration: none;
    }

    #language-option {
        padding: 15px 23px 14px;
        margin: 7px 0 0 4px;
        width: 5.9%;

        font-family: $font-opensans-regular;
        font-size: 14px;
        color: $white;
        letter-spacing: 0.4px;

        background-color: $blue;
        border: none;
        border-radius: 24px;

        outline: 0;
        appearance: none;
    
        &:hover {
            border: none;

            outline: none;
        }
    }

    .fa-angle-down {
        position: relative;
        right: 24px;
        top: 4px;

        font-size: 13px;
        color: $white;
    }
}
    
@include respond-to (xs) {
    .section-header {
        position: fixed;
        z-index: 999;
        
        width: 100%;
        height: 80px;

        background-color: transparent;

        transition: 0.3s;

        &.sticky {
            background-color: $white;

            transition: all 0.4s ease-in-out;
        }
        
        .container {
            display: flex;
            flex-direction: column;
        }

        .all-content-holder {
            display: flex;
            flex-direction: column;
        }

        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            align-items: flex-start;
            margin: 0;

            .navbar-collapse {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                
                background-color: $white;
            }
        }

        .navbar-brand {
            padding: 0;
        }

        #bestassistance-logo {
            margin-top: 18px;
            width: 152px;
        }

        .navbar-toggler {
            padding: 28px 0 0;
            margin-right: 0x;
            
            z-index: 999;
        }
        
        .icon-bar {
            margin: 5px 0;
            width: 26px;
            height: 2.5px;

            background-color: $blue;
        }

        .navbar-nav {
            padding: 43px 0 0;
            margin-left: 0;  
        }

        .nav-link {
            padding-left: 0;
    
            font-size: 15px;
        }

        .button-holder {
            display: flex;
            flex-direction: column;
        }

        .btn-telephone-number {
            margin: 0 0 30px 30px;
            width: 50%;

            background-color: $orange;
            border: none;
            border-radius: 28px;
            border: 2px solid transparent;  

            outline: 0;
    
            &:hover {
                color: $text-color;
                list-style: none;
                outline: none;
               
                background-color: $light-orange;
                
                border: 2px solid $orange;  
    
                transition: 0.3s ease-in-out;
            }
        }

        .telephone-icon {
            width: 11%;
        }

        #telephone-number {
            display: inline-block;
            padding: 11px 0 11px;

            font-size: 14px;
            letter-spacing: 0.6px;
            text-decoration: none;
        }

        #language-option {
            padding-left: 21px;
            margin: 28px 5px 0px;
            width: 26%;

            font-size: 12px;
            color: $white;

            background-color: $blue;
            border: none;
            border-radius: 24px;

            appearance: none;
        
            &:hover {
                border: none;
                
                outline: none;
            }
        }

        .fa-angle-down {
            position: relative;
            right: 38px;
            top: 2px;

            font-size: 14px;
        }
    }
}

@include respond-to (sm) {
    .section-header {
        position: fixed;
        z-index: 999;
        
        height: 80px;

        background-color: transparent;

        transition: 0.3s;

        &.sticky {
            background-color: $white;

            transition: all 0.4s ease-in-out;
        }
        
        .container {
            display: flex;
            flex-direction: column;
        }

        .all-content-holder {
            display: flex;
            flex-direction: column;
        }

        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin: 10px 0 0;
            width: 100%;

            .navbar-collapse {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                
                background-color: $white;
            }
        }

        .navbar-brand {
            padding: 0;
        }

        #bestassistance-logo {
            width: 152px;
        }

        .navbar-toggler {
            padding: 18px 0 0;
            margin-right: 0;

            z-index: 999;
        }
        
        .icon-bar {
            margin: 5px 0;
            width: 26px;
            height: 2.5px;

            background-color: $blue;
        }

        .navbar-nav {
            padding: 41px 0 0;
            margin-left: 2%;
        }

        .nav-link {
            padding-left: 29px;
    
            font-size: 17px;
        }

        .button-holder {
            display: flex;
            flex-direction: column;
        }

        .btn-telephone-number {
            padding: 0;
            margin-top: 0;
            margin-left: 11%;
            width: 30%;

            background-color: $orange;
            border: none;
            border-radius: 28px;

            &:hover {
                list-style: none;

                outline: none;

                transition: 0.3s ease-in-out;
            }
        }

        .telephone-icon {
            width: 13%;
        }

        #telephone-number {
            display: inline-block;
            padding: 14px 0 13px;

            font-size: 13px;
            letter-spacing: 0.6px;
            text-decoration: none;
        }

        #language-option {
            padding-left: 21px;
            margin: 28px 5px 0px;
            width: 26%;

            font-size: 12px;
            color: $white;

            background-color: $blue;
            border: none;
            border-radius: 24px;

            appearance: none;
        
            &:hover {
                outline: none;
            }
        }

        .fa-angle-down {
            font-size: 14px;
        }
    }
}

@include respond-to (md) {
    .section-header {
        position: fixed;
        z-index: 999;
        
        height: 80px;

        transition: 0.3s;

        &.sticky {
            transition: all 0.4s ease-in-out;
        }
        
        .navbar {
            padding: 0;
            margin: 10px 0 0;
            width: 100%;

            .navbar-collapse {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                
                background-color: $white;
            }
            
            .nav-item {
                margin-left: 9%;
            }
        }


        .navbar-brand {
            padding: 0;
            margin: 0 13px 2px;
        }

        #bestassistance-logo {
            width: 61%;
        }

        .navbar-toggler {
            padding: 15px 17px 0;
            margin-right: 0x;

            z-index: 999;
        }
        
        .icon-bar {
            margin: 5px 0;
            width: 26px;
            height: 2.5px;

            background-color: $blue;
        }

        .navbar-nav {
            padding: 100px 0 0;
            margin-left: 9%;
        }

        .nav-link {
            padding-left: 0;
    
            font-size: 18px;
        }

        .nav-item {
            margin-left: 0;
        }

        .button-holder {
            display: flex;
            flex-direction: column;
        }

        .btn-telephone-number {
            margin: 37px 0 30px 68px;
            width: 22%;
    
            background-color: $orange;
            border: none;
            border-radius: 28px;
            border: 2px solid transparent;  
    
            outline: 0;
            
            &:hover {
                color: $text-color;
                list-style: none;
                outline: none;
               
                background-color: $light-orange;
                
                border: 2px solid $orange;  
    
                transition: 0.3s ease-in-out;
            }
        }
    
        .telephone-icon {
            width: 11%;
        }
    
        #telephone-number {
            display: inline-block;
            padding: 11px 0 10px;
    
            font-size: 15px;
            color: $white;
            text-decoration: none;
        }
    
        #language-option {
            padding: 15px 23px 14px;
            margin: 7px 0 0 4px;
            width: 11%;
    
            font-family: $font-opensans-regular;
            font-size: 14px;
            color: $white;
            letter-spacing: 0.4px;
    
            background-color: $blue;
            border: none;
            border-radius: 24px;
    
            outline: 0;
            appearance: none;
        
            &:hover {
                border: none;
    
                outline: none;
            }
        }
    
        .fa-angle-down {
            position: relative;
            right: 34px;
            top: 0;
    
            font-size: 13px;
            color: $white;
        }
    
    }
}

@include respond-to (lg) {
    .section-header {
        position: fixed;
        z-index: 999;
    
        width: 100%;
    
        background-color: transparent;
    
        transition: 0.3s;
    
        &.sticky {
            background-color: $white;
    
            transition: all 0.4s ease-in-out;
        }
        
        .show-tablet-buttons {
            display: none;
        }
    
        .navbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 !important;
        }
    
        .navbar-brand {
            padding-bottom: 35px;
            padding-left: 13px;
        }
    
        #bestassistance-logo {
            width: 80%;
        }

        .navbar-collapse {
            align-items: baseline;
        }
    
        .navbar-nav {
            padding: 41px 0;
            margin-right: 0;
            margin-left: 0;
        }
        
        
        .nav-item {
            margin-left: 18px;
            
            .nav-link {
                padding-right: 0;
                padding-left: 0;

                font-size: 12px;
            }
        }
    
        .btn-telephone-number {
            margin: 37px 0 30px 21px;
            width: 20%;
        }

        #telephone-number {
            padding: 5px 0 5px;
            font-size: 12px;
        }

        #language-option {
            padding: 12px 10px 12px;
            margin: 7px 0 0 4px;
            width: 8%;

            font-size: 12px;
        }

        .fa-angle-down {
            position: relative;
            right: 24px;
            top: 0;

            font-size: 11px;
        }
    }
}

@media screen and (min-width: 2000px) {
    .section-header {
        position: fixed;
        z-index: 999;
    
        width: 92%;
    
        background-color: transparent;
    
        transition: 0.3s;
    
        &.sticky {
            background-color: $white;
    
            transition: all 0.4s ease-in-out;
        }
        
        .show-tablet-buttons {
            display: none;
        }
    
        .navbar-brand {
            padding-bottom: 22px;
            padding-left: 13px;
        }
    
        .navbar-nav {
            padding: 42px 0 38px 228px;
        }
    
        .btn-telephone-number {
<<<<<<< HEAD
            margin: 37px 0 30px 25px;
            width: 11%;
    
            background-color: $orange;
=======
            padding: 7px 23px 13px;
            margin-top: 29px;

>>>>>>> 8a742e8 (2000px done, polish next)
            border: none;
            border-radius: 28px;
            border: 2px solid transparent;  
    
            outline: 0;
            
            &:hover {
                color: $text-color;
                list-style: none;
                outline: none;
               
                background-color: $light-orange;
                
                border: 2px solid $orange;  
    
                transition: 0.3s ease-in-out;
            }
        }
<<<<<<< HEAD
    
        .telephone-icon {
            width: 11%;
        }
    
        #telephone-number {
            display: inline-block;
            padding: 11px 0 10px;
    
            font-size: 15px;
            color: $white;
            text-decoration: none;
        }
    
=======
        
>>>>>>> 8a742e8 (2000px done, polish next)
        #language-option {
            padding: 15px 23px 14px;
            margin: 7px 0 0 4px;
            width: 5%;
<<<<<<< HEAD
    
            font-family: $font-opensans-regular;
            font-size: 14px;
            color: $white;
            letter-spacing: 0.4px;
    
            background-color: $blue;
=======
            height: 48px;

>>>>>>> 8a742e8 (2000px done, polish next)
            border: none;
            border-radius: 24px;
    
            outline: 0;
            appearance: none;
        
            &:hover {
                border: none;
    
                outline: none;
            }
        }
<<<<<<< HEAD
    
        .fa-angle-down {
            position: relative;
            right: 24px;
            top: 4px;
    
            font-size: 13px;
            color: $white;
        }
    
=======
>>>>>>> 8a742e8 (2000px done, polish next)
    }
}