//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;
  
  .section-banner {
    padding: 100px 0 180px;

    background-image: url("/assets/images/3.fw.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;

    .swiper-container {
      margin: 111px 0 0 5px;
      width: 50%;
      height: auto;
      overflow: hidden;

      background:none;
    }
   
    .swiper-slide {
      display: flex;
      width: 759px;

      background: none;
    }

    .banner-title {
      padding-bottom: 33px;

      font-family: $font-opensans-bold;
      font-size: 58px;
      color: $white;
      letter-spacing: 1.35px;
      line-height: 1.25;
    }

    .swiper-pagination {
      color: $white;
    }

    .swiper-pagination-bullets {
      bottom: 0;

      width: 9%;
    }

    .swiper-pagination-bullet-active {
      background: $white;
    }

    .three-info-content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: 41px;
      width: 33%;
    }
    
    .mission-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 44px;
      width: 78px;
    }

    .mission-icon {
      &:first-child {
        width: 60px;
      }

      &:nth-child(2) {
        width: 60px;
      }

      &:last-child {
        width: 60px;
      }
    }

    .mission-heading {
      padding-top: 12px;
      width: 75px;
      
      font-family: $font-opensans-bold;
      font-size: 15px;
      color: $white;
      text-align: center;

      &:nth-child(2) {
        width: 95px;
      }
    }

    .fixed-sidebar {
      position: fixed;
      top: 40%;
      right: 0;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      background-color: $light-grey;
    }

    
    // .sidebar-icon {
    //   &:first-child {
    //     margin: 26px 0 0 23px;
    //     width: 16%;
    //   }

    //   &:nth-child(2) {
    //     margin: 32px 21px 0;
    //     width: 28%;
    //   }

    //   &:nth-child(3) {
    //     margin: 33px 21px 0;
    //     width: 30%;
    //   }

    //   &:nth-child(4) {
    //     margin: 33px 21px 22px;
    //     width: 28%;
    //   }

    //   &:last-child {
    //     padding: 5px 0 0 0;
    //     margin: 0 22px 5px;
    //     width: 30%;

    //     display: block;

    //     border-width: 5px;
    //     border-top: 1px $mid-grey solid;
    //   }
    // }
  }

  .section-mission {
    .our-mission-container {
      display: flex;
      flex-direction: row;
    }

    .image {
      padding-top: 78px;
    }
    
    .information {
      padding-top: 65px;
      padding-left: 27px;
    }
    
    .mission-title {
      margin-bottom: 36px;

      font-family: $font-opensans-bold;
      font-size: 40px;
    }

    .content-mission {
      display: flex;
      flex-direction: row;
    }

    .check-icon {
      margin-left: 6px;
      width: 6%;
      height: 1%;
    }

    .mission-heading {
      margin: 0 16px 19px;
      
      font-size: 18px;
      letter-spacing: 0.5px;
    }

    .icon-buttons {
      margin: 57px 2px;
    }

    .btn-best-assistance {
      padding: 19px 26px 3px;

      background-color: $orange;
      border: none;
      border-radius: 28px;
    } 
    
    .btn-history {
      padding: 19px 59px 3px;
      
      background-color: $blue;
      border: none;
      border-radius: 28px;
    } 

    .button-heading {
      font-family: $font-opensans-bold;
      font-size: 14px;
      word-spacing: 1.3px;
    }

    .solution-box {
      position: relative;
      bottom: 91px;
      left: 80px;

      background-image: url("/assets/images/9.fw.png");
      background-repeat: no-repeat;
      background-size: cover; 
    }

    .solution-title {
      margin: 151px 72px 0 87px;
      font-family: $font-opensans-bold;
      font-size: 40px;
      color: $white;
    }

    .content-solution {
      padding: 32px 0 129px 90px;
    }

    .paragraph-solution {
      display: flex;
      flex-direction: row;
    }

    .description-holder {
      display: flex;
      flex-direction: column;
      padding: 0 32px;
    }

    .solution-heading {
      margin-bottom: 6px;

      font-family: $font-opensans-bold;
      font-size: 18px;
      color: $white;
    }

    .profile-icon {
      width: 8%;
      height: 1%;
    }

    .description {
      margin-bottom: 26px;

      font-family: $font-opensans-regular;
      font-size: 17px;
      color: $white;
    }
  }

  .section-reading {
    margin-bottom: 69px;

    .title-button-holder {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 1499px;
      height: 97px;
      align-items: flex-end;
    }

    .heading-description {
      padding: 0 3px 0;
    }

    .reading-heading {
      font-family: 'opensans-regular';
      font-size: 18.95px;
      letter-spacing: 0.3px;
    }

    .reading-title {
      font-family: $font-opensans-bold;
      font-size: 40px;
    }

    .btn-filter {
      padding: 16px 30px 0;

      background-color: $mid-grey;
      border: none;
      border-radius: 35px;

      transition: 0.3s ease-in-out;
    }

    .filter-by {
      display: inline-block;
      padding-right: 65px;
  
      font-family: $font-opensans-regular;
      font-size: 17px;
    }

    .fa-angle-down {
      display: inline-block;
    }

    .filter-dropdown {
      position: relative;
      bottom: 24px;

      display: none;
      padding: 20px;

      list-style: none;

      background-color: grey;
    }

    #dropdown-heading {
      padding: 10px;

      font-family: $font-opensans-regular;
      font-size: 14px;
      color: $text-color;
      list-style: none;
    }

    .swiper-container {
      margin-top: 22px;
    }

    .swiper-slide {
      // &:hover {
      //   .title {

      //   }
      // }

      &:first-child {
        width: 50%;
        height: 500px;

        background-image: url("/assets/images/16.fw.png");
        background-repeat: no-repeat;

        &:hover {
          width: 70%;

          transform: scale(1.2);
          transition: 0.3s ease-in-out;
        }
      }

      &:nth-child(2) {
        width: 24.5%;
        height: 500px;

        background-image: url("/assets/images/17.fw.png");
        background-repeat: no-repeat;
      }

      &:nth-child(3) {
        width: 24.5%;
        height: 500px;

        background-image: url("/assets/images/18.fw.png");
        background-repeat: no-repeat;
      }

      &:last-child {
        width: 24.5%;
        height: 500px;

        background-image: url("/assets/images/19.fw.png");
        background-repeat: no-repeat;
      }

      .title {
        font-family: $font-opensans-bold;
        font-size: 27px;
        color: $white;

        &:first-child {
          margin-top: 377px;
          margin-left: 39px;
        }

        &:nth-child(2) {
          margin-top: 377px;
          margin-left: 39px;
        }

        &:nth-child(3) {
          margin-top: 377px;
          margin-left: 39px;
        }

        &:last-child {
          margin-top: 377px;
          margin-left: 39px;
        }
      }
  
      .sub-title {
        margin-left: 39px;

        font-family: $font-opensans-regular;
        font-size: 14px;
        color: $white;
      }
  
      span.label {
        padding: 5px;
        font-family: $font-opensans-bold;
        font-size: 14px;
        color: $white;

        &:first-child {
          margin-left: 44px;

          background-color: $orange;
        }
  
        &:nth-child(2) {
          margin-left: 44px;

          background-color: $apple-green;
        }
  
        &:nth-child(3) {
          margin-left: 44px;

          background-color: $light-blue;
        }
  
        &:last-child {
          margin-left: 44px;
          
          background-color: $light-brown;
        }
      }
    }

    .btn-journal {
      margin: 83px 2px;

      background-color: $blue;
      border: none;
      border-radius: 28px;
    }

    .btn-text {
      padding: 17px 51px 0;

      font-family: $font-opensans-bold;
      font-size: 16px;
    }
  }

  .section-system-platform {
    background-color:$grey;

    // .flex-platform {
    //   position: relative;
    //   bottom: 70px;
    // }

    // .leaf-background {
    //   position: relative;
    //   bottom: 67px;
    //   right: 23px;
    // }

    .flex-platform {
      padding-top: 141px;
    }

    .plain-leaf-background {
      display: flex;
      justify-content: flex-end;
     
      z-index: 999;
    }

    .flex-content {
      display: flex;
      flex-direction: row;
      padding-left: 22px;
    }

    #monitor {
      padding-top: 10px;
    }

    .info-holder {
      padding-left: 131px;
    }

    .title {
      margin-bottom: 0;

      font-family: $font-opensans-bold;
      font-size: 40px;
    }

    .heading {
      position: relative;
      bottom: 7px;

      margin-bottom: 6px;

      font-family: $font-opensans-bold;
      font-size: 43px;
      color: $dark-blue;
    }

    .description {
      padding: 20px 0 34px;
      width: 92%;

      font-size: 16px;
      font-family: $font-opensans-semibold;
      letter-spacing: 0.1px;
      line-height: 1.87;
    }

    .content-holder {
      padding-bottom: 33px;
    }

    .check-icon-heading {
      display: flex;
      flex-direction: row;
    }

    .check-icon {
      width: 29px;
      height: 29px;
    }

    .icon-heading {
      padding-left: 18px;
      margin-top: 2px;
      margin-bottom: 20px;
      
      font-family: $font-opensans-semibold;
      font-size: 18px;
      letter-spacing: 0.3px;
    }

    .btn-solutions {
      padding: 18px 53px 2px 52px;
      margin-left: 5px;

      background-color: $blue;
      border: none;
      border-radius: 28px;
    }

    .btn-text {
      font-family: $font-opensans-regular;
      font-size: 15px;
      color: $white;
    }
  }

  .section-assistance-app {  
    margin-top: 301px;

    background-image: url("/assets/images/26.fw.png");
    background-size: cover;
    background-repeat: no-repeat;

    .flex-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 327px;
    }

    .text-info {
      padding: 5px;
      margin-top: 156px;
    }

    .title {
      padding-bottom: 13px;
      margin-bottom: 0;
      
      font-family: $font-opensans-bold;
      font-size: 40px;
      color: $white;
    }
    
    .description {
      margin-bottom: 39px;
      
      font-family: $font-opensans-regular;
      font-size: 16px;
      color: $white;
      letter-spacing: 0.3px;
    }
    
    .image-info {
      margin-left: 170px;
    }

    #app-store {
      margin-right: 14px;
    }
    
    .flex-content {
      display: flex;
      padding-left: 199px;
    }

    .image-info-holder {
      padding-top: 50px;
      margin-top: 116px;
      width: 29%;
      height: 300px;
      
      align-items: center;
      
      &:first-child {
        border-top: 0.5px solid $grey;
        border-right: 0.5px solid $grey;

        .heading {
          padding: 33px 0 0 4px;
          margin-bottom: 24px;
          width: 91%;
    
          font-family: $font-opensans-regular;
          font-size: 14px;
          color: $white;
          letter-spacing: 0.4px;
          line-height: 1.9;
        }

        .image {
          width: 13%;
        }
      }

      &:nth-child(2) {
        border-top: 0.5px solid $grey;
        border-right: 0.5px solid $grey;

        .heading {
          padding: 33px 0 0 4px;
          margin-bottom: 24px;
          width: 91%;
          
          font-family: $font-opensans-regular;
          font-size: 14px;
          color: $white;
          letter-spacing: 0.4px;
          line-height: 1.9;
        }

        .image {
          width: 13%;
        }
      }

      &:last-child {
        border-top: 0.5px solid $grey;

        #contact-number {
          padding: 33px 0 0 4px;
          margin-bottom: 24px;
          width: 91%;
    
          font-family: $font-opensans-bold;
          font-size: 40px;
          color: $white;
          letter-spacing: 0.4px;
          line-height: 1.9;

          display: flex;
          flex-direction: column;
        }

        .image {
          width: 11%;
        }
      }
    }

    #contact-number {
      padding: 5px 0 0 4px;
      font-family: $font-opensans-bold;
      font-size: 37px;
      color: $white;

      &:hover {
        list-style: none;
      }
    }

    .link {
      font-family: $font-opensans-semibold;
      font-size: 14px;
      color: $white;
      list-style: none;
    }
  }
}



