//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$font-opensans: 'Open-Sans';
<<<<<<< HEAD
<<<<<<< HEAD
$font-opensans-bold:'OpenSans-Bold';
=======
$font-opensans-bold:'opensan-bold';
>>>>>>> ac7a363 (message here)
=======
$font-opensans-bold:'OpenSans-Bold';
>>>>>>> d213337 (section banner done)
$font-opensans-regular: 'opensans-regular';
$font-opensans-semibold: 'OpenSans-Semibold';

/// @type Lists
$text-font-stack: $font-opensans, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #222 !default;

/// Main brand color
/// @type Color
$brand-color: #E50050 !default;

/// Light grey
/// @type Color
$light-grey: #EDEDED !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;


$white: #ffffff;

<<<<<<< HEAD
<<<<<<< HEAD
$pale-orange: #ffdfbf;

$mid-orange: #ff9147;

$light-orange: #ffc299;

$orange: #ff9d5c;

$dark-blue: #1261A0;

$blue: #296d98;

$light-blue: #3895D3;

$pale-blue: #8cd3ff;

$ocean-blue: #bfe6ff;

$apple-green: #8db600;

$light-brown: #C68642;

$grey: #f0f0f0;
=======
$orange: #ff9d5c;
>>>>>>> e9714bc (Code update)
=======
$orange: #ff9d5c;

$blue: #296d98;
>>>>>>> ac7a363 (message here)
